body {
  margin: 0px;
  padding: 0px;
  background-color: cadetblue;
  animation: color 2s forwards;
  animation-delay: 1s;
}

@keyframes color {
  0% {
    background-color: cadetblue;
  }
  50% {
    background-color: teal;
  }
  100% {
    background-color: #065353;
  }
}
